<p></p>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="col-lg-3">
        <div class="card text-center" style="width: 18rem;">
          <img src="../../../assets/duel.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Duel Devastator</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">MAS INFORMACION</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="col-lg-3">
        <div class="card text-center" style="width: 18rem;">
          <img src="../../../assets/duel.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Duel Devastator</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">MAS INFORMACION</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="col-lg-3">
        <div class="card text-center" style="width: 18rem;">
          <img src="../../../assets/duel.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Duel Devastator</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">MAS INFORMACION</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p></p>
</div>
